---
- name: "update packages."
  become: yes
  yum:
    update_cache: yes
  # apt:
    # update_cache: yes

- name: "upgrade packages"
  become: yes
  yum:
    upgrade: yes

- name: Install npm
  yum:
    name: npm
    state: latest

- name: Install nodejs
  yum:
  # apt:
    name: nodejs
    state: latest

- name: install pm2
  become: yes
  npm:
    name: pm2@3.2.2
    global: yes
    production: yes
    state: latest

- name: create a ~/web directory
  shell: mkdir ~/web
  # file:
  #   path: ~/web
  #   state: directory

- name: copy index test page from files/index.js to ~/web/index.js
  template:
    src:  "files/index.js"
    dest: "~/web/index.js"

- name: start the server using pm
  shell: pm2 start ~/web/index.js -f
    