---
- name: "update packages."
  become: yes
  yum:
    update_cache: yes
  # apt:
    # update_cache: yes

# - name: "upgrade packages"
#   become: yes
#   yum:
#     upgrade: yes

# - name: Install npm
#   yum:
#     name: npm
#     state: latest

# - name: Install nodejs
#   yum:
#   # apt:
#     name: nodejs16
#     state: present

- name: Download nvm installer
  get_url: url="https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh" dest=~/nvm-installer.sh mode=u=rwx,g=r,o=x
  tags: install-nvm

- name: Execute the nvm-installer.sh
  command: ~/nvm-installer.sh
  args:
    creates: ~/.nvm/nvm.sh
  tags: install-nvm

- name: Own the nvm script
  file:
    path: ~/.nvm/nvm.sh
    state: touch
    mode: u=rwx,g=r,o=rwx
  tags: install-nvm

- name: Activate nvm
  command: /bin/bash ~/.nvm/nvm.sh
  args:
    chdir: "~/"
  tags: install-nvm

- name: Install node
  shell: |
    source ~/.bashrc
    nvm install 8
  tags: install-node

- name: install pm2
  shell: |
    npm -i -g pm2
  # become: true
  # npm:
  #   name: pm2
  #   global: yes
    # production: yes
    # state: present

- name: create a ~/web directory
  shell: mkdir ~/web
  # file:
  #   path: ~/web
  #   state: directory

- name: copy index test page from files/index.js to ~/web/index.js
  template:
    src:  "files/index.js"
    dest: "~/web/index.js"

- name: start the server using pm
  shell: pm2 start ~/web/index.js -f
    